.sp_JVlg_z5lL1M_2x{background-image:url(/rsrc.php/v3/yI/r/PwR1q6rMWQU.png);background-size:13px 26px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_JVlg_z5lL1M_2x.sx_b736df{background-position:0 0}.sp_JVlg_z5lL1M_2x.sx_ae7c22{background-position:0 -13px}

#bootloader_NscAJ{height:42px;}.bootloader_NscAJ{display:block!important;}