.otherActive~._28r-{pointer-events:auto}
.sp_gju0phK7z1B_2x{background-image:url(/rsrc.php/v3/yE/r/HjaW-OGVMZt.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_gju0phK7z1B_2x.sx_457066{background-position:0 0}.sp_gju0phK7z1B_2x.sx_e2e437{background-position:0 -17px}.sp_gju0phK7z1B_2x.sx_a11e69{background-position:0 -34px}

#bootloader_znv5Q{height:42px;}.bootloader_znv5Q{display:block!important;}