._4r_1{padding:0 12px 0 0}._4r_2{font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;padding:20px;text-align:center}._4r_3{padding:0 0 15px 0}._4r_4{font-weight:bold;padding:3px}._4r_5{color:#90949c}._4wcp{display:block;padding-top:4px}

#bootloader_qMaue{height:42px;}.bootloader_qMaue{display:block!important;}